<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.row{
  margin:0 auto;
  width:300px;
}
.table>tbody>tr>td{
  border:0;
}
td.text-center{background:white;}
input.a{background:black;color:white;margin:20px 0;}
</style>
</head>
<body>
<div class="wrapper row3">
  <main class="container clear">
    <div class="row">
      <form method="post" action="/board/board_delete_ok">
      <table class="table">
        <tr>
          <td class="inline">
            비밀번호&nbsp;&nbsp;&nbsp;<input type=password name=pwd class="input-sm" size=15>
 			<input type=hidden name=no value="${no }">        
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <input type=submit value="삭제" class="btn btn-sm a">
            <input type=button value="취소" class="btn btn-sm a"
           		   onclick="javascript:history.back()"
            />
        
          </td>
        </tr>
      </table>
      </form>
    </div>
  </main>
</div>  
</body>
</html>