<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
}
.row3{
  background:white;
}
</style>
</head>
<body>

<div class="wrapper row3">
  <div id="slider" class="clear" style="padding:0;"> 
    <div class="flexslider basicslider">
      <ul class="slides">
        <li><a href="#"><img  src="../images/main1.png" style="width:978px;height:300px"></a></li>
        <li><a href="#"><img  src="../images/main2.jpg" style="width:978px;height:300px"></a></li>
        <li><a href="#"><img  src="../images/main3.png" style="width:978px;height:300px"></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper row3">
  <main class="container clear"> 

    
    <h2 style="text-align:center;font-size:24px;">🖼️4월 가볼만한 전시</h2>
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides" style="padding:10px;">
        <li th:each="vo:${list}" style="height:459px;box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 8px;">
          <a th:href="@{/exhibition/exhibition_detail(geno=${vo.geno})}">
            <figure style="padding:15px;"><img class="btmspace-10" th:src="${vo.poster}">
              <figcaption style="width:100%;text-align:center;overflow:hidden;text-overflow:ellipsis;">
                <a  th:text="${vo.title}" class="text-center"></a>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </div>
    <h2 style="text-align:center;font-size:24px;">✨무료로 즐길 수 있는 전시</h2>
    <!-- ################################################################################################ -->
    <div class="flexslider carousel basiccarousel btmspace-80">
      <ul class="slides" style="padding:10px;">
        <li th:each="vo:${flist}" style="height:459px;box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 8px;">
          <a th:href="@{/exhibition/exhibition_detail(geno=${vo.geno})}">
            <figure style="padding:15px;"><img class="btmspace-10" th:src="${vo.poster}">
              <figcaption style="width:100%;text-align:center;overflow:hidden;text-overflow:ellipsis;">
                <a th:text="${vo.title}"></a>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </div>
    
<!--     <h2>최신방문 맛집/여행</h2>
    <ul class="nospace group">
      <li class="one_half first">
        <article><img class="imgl radius-10" src="images/demo/100x100.gif" alt="">
          <h6 class="heading"><a href="#">Lorem Ipsum Dolor</a></h6>
          <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.</p>
        </article>
      </li>
      <li class="one_half">
        <article><img class="imgl radius-10" src="images/demo/100x100.gif" alt="">
          <h6 class="heading"><a href="#">Lorem Ipsum Dolor</a></h6>
          <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet.</p>
        </article>
      </li>
    </ul>
    / main body
    <div class="clear"></div> -->
    
  </main>
</div>
</body>
</html>